/* You can add global styles to this file, and also import other style files */
@import './variables';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin: 0 0 60px;
}


@media screen and (max-width: 640px) {
  section {
    margin-left: 0 !important;
  }
}

@import 'nav';
@import 'section';
@import 'footer';