<section class="custom-section p-3 p-lg-5">
  <div class="mb-5">
    <h1>Edit todo</h1>
  </div>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title"
        type="text" 
        class="form-control" 
        id="todo-title" 
        placeholder="Enter title *" 
        required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description"
        class="form-control" 
        id="todo-descripion" 
        rows="3"></textarea>
      <small id="descriptionHelp" class="form-text text-muted">Add a description if you want (optional).</small>
    </div>
    <div class="form-check">
      <input formControlName="state"
        type="checkbox" 
        class="form-check-input" 
        id="todo-state">
      <label class="form-check-label" for="todo-state">State</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!todoForm.valid">Submit</button>
  </form>
</section>