<section class="custom-section p-3 p-lg-5">
  <div class="mb-5">
    <h1>{{ todo.title }}</h1>
  </div>
  <div class="todo-description">
    {{ todo.description }}
  </div>
  <div class="todo-state mt-3">
    <span *ngIf="todo.state"><b>Enable</b></span>
    <span *ngIf="!todo.state"><b>Disable</b></span>
  </div>
</section>