<section id="todo-section" class="custom-section p-3 p-lg-5">
  <div class="mb-5">
    <h1>Todos List</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th class="text-center" scope="col">State</th>
      </tr>
    </thead>
    <tbody *ngIf="(todos$ | async)?.length > 0">
      <tr *ngFor="let todo of todos$ | async" (click)="showTodo(todo)" [ngClass]="{'crossed-out': !todo.state}">
        <td><!-- {{ todo.id }} --></td>
        <td>{{ todo.title }}</td>
        <td class="text-center">
          <input type="checkbox" class="form-check-input" (click)="toggleState($event, todo)" [checked]="todo.state">
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addTodo()" class="btn btn-primary mt-3">Add a todo</button>
</section>
