@import '../../../../sass/variables';
#todo-section {
  table {
    tbody {
      tr {
        td {
          transition: all .2s ease-in;
        }
        &:hover {
          td {
            cursor: pointer;
            background: $gray-200;
          }
        }
        &.crossed-out {
          td {
            position: relative;
            &:before {
              position: absolute;
              top: 50%;
              left: 0;
              content: "";
              width: 100%;
              height: 1px;
              background: #000;
              // z-index: 10;
            }
          }
        }
      }
    }
  }
}