@import '../sass/mixins';

#sideNav {
  .navbar-collapse {
    @media screen and (max-width: 640px) {
      height: 0;
      @include transition(all 0.5s linear);
      visibility: hidden;
    }

    &.show {
      height: auto;
      visibility: visible;
    }
  }
}