<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Jean-Baptiste Espinasse</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="">
    </span>
  </a>
  <button 
    (click)="toggle()" 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"
    [ngClass]="{'collapsed': isMenuOpen}"></span>
  </button>
  <div class="collapse navbar-collapse" 
    id="navbarSupportedContent"
    [ngClass]="{'collapse': isMenuOpen, 'show': isMenuOpen}">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" [routerLink]="[ '/todos' ]">Todo list</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">App créée par Jean-Baptiste Espinasse</span>
  </div>
</footer>